.main {
  text-align: center;
  display: flex;
  justify-content: center;
}
body {
  background-color: #091c34;
}

.App {
  text-align: center;
  margin-top: 20px;
  background-color: #333d70;
  width: 350px;
  border-radius: 15px;
  border: 1px solid whitesmoke;
}

.inputTxt {
  width: 280px;
  padding: 8px;
  margin-top: 20px;
  margin-bottom: 6px;
  background-color: #162631;
  border: none;
  border-radius: 15px;
  text-align: center;
  font-size: 14px;
  color: white;
}
h1 {
  margin: 0;
  color: #c6b7ef;
  letter-spacing: 8px;
  font-size: 48px;
}
iframe {
  border-radius: 12px;
  margin: 0;
  border: 2px solid #341e67;
  width: 98%;
  height: 340px;
}
.humidity {
  color: rgb(239, 185, 185);
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
}
h2 {
  color: #dad2f0;
  margin: 0;
  margin-top: 2px;
  margin-left: 19px;
  font-size: 30px;
  font-weight: 400;
}
h4 {
  margin: 0;
  margin-top: 4px;
  margin-bottom: 4px;
  color: rgb(163, 160, 160);
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 3px;
}
